@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

$color-pink: hsl(322, 100%, 66%);
$color-hover-pink: #ff8ed6;
$color-pink--2: hsl(321, 100%, 78%);
$color-pink--3: hsl(0, 100%, 63%);

$color-dark-cyan: #00252e;
$color-pale-blue: hsl(207, 100%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  background-color: RED;
  height: 100vh;
  width: 100%;
  padding: 3rem;
}

.img-section {
  .img {
    width: 100%;
  }
}

.btn {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 3px 6px 15px -1px rgba(0, 0, 0, 0.3);
  color: $color-pale-blue;
  background-color: $color-pink;
  font-weight: 600;
  transition: all 0.5s;
  &:hover {
    transition: all 0.5s;
    cursor: pointer;
    background-color: $color-hover-pink;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 40%;
    height: 100%;
  }
  &__button {
    background-color: transparent;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: 1px solid $color-pink;
    color: $color-pink;
  }
}

.text {
  text-align: center;
  font-size: 1.6rem;
  margin-block: 8rem;
  &__header {
    font-family: "Poppins", sans-serif;
  }
  &__content {
    font-size: 0.9em;
    margin: 2rem 0 3rem 0;
  }
  &__button--1 {
    padding: 1.5rem 5rem;
  }
}

.newsletter {
  color: white;
  &__bg {
    background-repeat: no-repeat;
    display: block;
    width: 100%;
  }
  &__card {
    padding-inline: 3rem;
    background-color: $color-dark-cyan;
  }
  &__header {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  &__content {
    font-size: 1.45rem;
  }
  &__form {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  &__button {
    float: right;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
  }
}

.bottom {
  &__logo {
    filter: brightness(0) invert(1);
  }
  &__content {
    font-size: 1.45rem;
  }
}

.bottom__contact {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  &__svg {
    margin-right: 2rem;
  }
  &__content {
    text-decoration: none;
    color: $color-pale-blue;
    font-size: 1.5rem;
    a {
      text-decoration: none;
      color: $color-pale-blue;
    }
  }
}

.social {
  display: flex;
  &__icon {
    margin-right: 1rem;
  }
  :last-child {
    margin-right: 0;
  }
}
